.example-headers-align {
    width: 90% !important;
}

.map {
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/46/Map_of_Varna.png);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

.btn {
    display: block !important;
}

.example-container {
    height: 400px;
    width: 100%;
    overflow: auto;
  }
  
  table {
    width: 800px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }