<div class="fullscreen">
    <div class="container home-container vertical-center">
        <div class="jumbotron">
            <h1 class="display-3">InTact delivers precise travel-time measurement</h1>
            <hr class="my-4">
            <h3>Travel-Time Measurement Solution measures real-time travel time data along a corridor or arterial by capturing MAC addresses of WiFi devices in vehicles as they pass.</h3>
            <p class="lead">
                <a class="btn btn-danger" [routerLink]="['/auth/login']" role="button">Login</a>
                <a class="btn btn-danger" [routerLink]="['/auth/register']" role="button">Register</a>
            </p>
        </div>
    </div>
</div>

