<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <app-card [title]="this.title">
                    <div class="table-responsive">
                        <app-submit-button [buttonName]="this.buttonName" [routerLink]="['/devices/create']"></app-submit-button>
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Latitude
                                </th>
                                <th>
                                    Longitude
                                </th>
                                <th>
                                    Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let device of this.devices; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{device.name}}</td>
                                    <td>{{device.latitude}}</td>
                                    <td>{{device.longitude}}</td>
                                    <td>
                                        <app-edit-button [routerLink]="['/devices', device.id, 'edit']"></app-edit-button>
                                        <app-delete-button (click)="this.delete(device.id)"></app-delete-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </app-card>
            </div>
        </div>
    </div>
</div>