<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Devices</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button mat-raised-button type="submit" class="btn btn-success pull-left" [routerLink]="['/devices/add']">Add
                                Device</button>
                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Latitude
                                    </th>
                                    <th>
                                        Longitude
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let device of this.devices; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{device.name}}</td>
                                        <td>{{device.latitude}}</td>
                                        <td>{{device.longitude}}</td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-warning btn-sm"
                                                [routerLink]="['/devices/add']">Edit</button>
                                            <button mat-raised-button type="submit" class="btn btn-danger btn-sm"
                                                [routerLink]="['/devices/add']">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>