<div class="main-content vertical-center fullscreen">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">User edit info</h4>
              <p></p>
            </div>
            <div class="card-body">
              <form *ngIf="this.user" [formGroup]="editForm" (ngSubmit)="this.editUser(this.user.id)">
              <div class="form-group">
                  <label appBoldMe for="FirstName"></label>
                  <input #pass formControlName="FirstName" required id="FirstName" type="text" class="form-control" placeholder="First Name" />
                  <div [hidden]="!(this.editForm.get('FirstName').hasError('required') && this.editForm.dirty)">Make changes</div>
                </div>
                <div class="form-group">
                  <label appBoldMe for="LastName"></label>
                  <input #pass formControlName="LastName" required id="LastName" type="text" class="form-control" placeholder="Last Name" />
                  <div [hidden]="!(this.editForm.get('LastName').hasError('required') && this.editForm.dirty)">Make changes</div>
                </div>
                
                <div class="form-group">
                  <label appBoldMe for="email"></label>
                  <input formControlName="email" required id="email" type="text" class="form-control" placeholder="Email"/>
                </div>
                <button [disabled]="(this.editForm.get('FirstName').hasError('required') || this.editForm.get('LastName').hasError('required'))" type="submit" class="btn btn-danger">edit</button>
                <button type="button" class="btn btn-default" (click)="this.cancel()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>