<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Users Table</h4>
                      <p class="card-category">All users created from the admin.</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                       <button type="button" class="btn btn-success" (click)="this.redirectToCreateUsers()">New User</button>
                       <table class="table table-hover">
                                <thead class="text-primary">
                                    <th>
                                      #
                                    </th>
                                    <th>
                                      First Name
                                    </th>
                                    <th>
                                      Last Name
                                    </th>
                                    <th>
                                      Email
                                    </th>
                                    <th>
                                      Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of this.users; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{user.FirstName}}</td>
                                        <td>{{user.LastName}}</td>
                                        <td #email>{{user.email}}</td>
                                        <td>
                                            <button #pass mat-raised-button type="submit" class="btn btn-warning btn-sm"
                                                [routerLink]="['/users/edit']">Edit</button>
                                            <button mat-raised-button type="submit" class="btn btn-danger btn-sm"
                                                (click)="this.deleteUser(user.email)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                      </div>
                  </div>
                  <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
              </div>
          </div>
          
      </div>
  </div>
</div>